{% extends 'mailing/base.html' %}

{% block content %}

  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Pассылкa </h4>
          </div>
          <div class="card-body">
            <table class="table">
              <tr>
                <td>Тема:</td>
                <td>{{object.theme}}</td>
              </tr>
              <tr>
                <td>Текст:</td>
                <td>{{object.body}}</td>
              </tr>
            </table>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Клиенты </h4>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">Почта</th>
                </tr>
              </thead>
              <tbody>
              {% for client in object.client.all %}
                <tr>
                  <td>{{client.first_name}}</td>
                  <td>{{client.last_name}}</td>
                  <td>{{client.email}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
    <a href="{% url 'mailing:list_letter' %}" class="btn btn-warning mt-5">Назад к рассылкам</a>
  </div>

{% endblock %}
