{% extends 'mailing/base.html' %}

{% block content %}
    <div class="col-12">
        <a href="{% url 'mailing:create_letter' %}" class="btn btn-primary mb-5">Создать рассылку</a>
        <a href="{% url 'mailing:create_client' %}" class="btn btn-primary mb-5">Создать клиента</a>
    <div class="row">
    {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="card-title">{{ object.message.theme }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">{{ object.mail_time_from }} - {{ object.mail_time_to}}</div>
                </div>
                <div class="card-footer">
                    {% if perms.mailing.view_mail %}
                        <a href="{% url 'mailing:view_letter' object.pk %}" class="btn btn-outline-primary">Просмотр</a>
                    {% endif %}
                    {% if perms.mailing.change_mail %}
                        <a href="{% url 'mailing:update_letter' object.pk %}" class="btn btn-outline-primary">Редактировать</a>
                    {% endif %}
                    {% if perms.mailing.delete_mail %}
                        <a href="{% url 'mailing:delete_letter' object.pk %}" class="btn btn-outline-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
